.container {width: 1000px;
height: 100vh;
background-color: whitesmoke;
display: grid;
grid-template-columns: 1fr 1fr ;
justify-items: center;
grid-gap: 20px;
}


.box{
    height: 100px;
    width: 100px;
}
.red-box{
    background-color: red;
    width: 100%;
    height:100px;  
    grid-column: 1/3;  
   
}

.green-box1{background-color: green;
    width: 200px;
    height:200px;

}

.green-box2{background-color: green;
    width: 200px;
    height:200px;
}

.yellow-box1{background-color: yellow;
    width: 200px;
    height:200px;
}

.yellow-box2{background-color: yellow;
    width: 200px;
    height:200px;
}

.blue-box{background-color: blue;
width: 100%;
height:100px;   
grid-column: 1/3; 
}

    